<!--Home front-end code-->
{% extends "base.html" %}

{% load static %}

{% block content %}
<div id="glo_contents">
    <div class="section_todayup block-hot">
        <h2>Truyện đề cử</h2>
        <div class="list_wrap">
            <div class="hot">
                <ul class="media-scroller">

                    <li>
                        <div class="item">
                            <div class="visual">
                                <div class="comic-thumb">
                                    <a href="#" title="Tết ở làng địa ngục">
                                        <img src="{% static 'img/TetOLangDiaNguc.jpg' %}"
                                             alt="Tết ở làng địa ngục"
                                             data-original="https://media.comics24hto.com/images/fullsize/2023/09/07/TetOLangDiaNguc.jpg"
                                             class="lazy"/>
                                    </a>
                                </div>
                                <div class="main_text">
                                    <h3 class="title"><a href="#">Tết ở làng địa ngục</a></h3>
                                </div>
                                <div class="section_other">
                                    <div class="ico_box">
                                        <p class="ico_19plus">18+</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div class="section_todayup">
        <h2>Truyện mới cập nhật</h2>
        <div class="list_wrap">
            <ul class="slick_item">
                {% for book in Books %}
                <li>
                    <div class="item">
                        <div class="visual">
                            <div class="comic-thumb">
                                <a href="book/{{book.id}}" title="{{book.name}}">
                                    <img src="{{ MEDIA_URL }}/media/{{book.avatar}}" alt="{{book.name}}"
                                         data-original="https://stcdn.comics24hto.com/images/thumbs/nguoi-dep-va-quai-thu.jpg"
                                         class="lazy"/>
                                </a>
                            </div>
                            <div class="main_text">
                                <h3 class="title"><a href="book/{{book.id}}"></a>{{book.name}}</h3>
                                <p class="chapter">
                                    <a href="#"
                                       title="Chapter 132.2"
                                       class="type01">Chapter 132.2 </a> <span>14 phút trước</span>
                                </p>
                            </div>
                            <div class="section_other">
                                <div class="ico_box">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}